extends layout.pug

block content
  script(src="/javascripts/index.js" type="module")
  div(class="create-collection")
    a(href=`http://localhost:8080/collections/add`) Create New Collection
  each collection in collections
    div(id=`container-${collection.id}`).collectionContainer
      p(class="nameContainer") #{collection.name}
      div(id="btnContainer")
        a(href=`http://localhost:8080/collections/${collection.id}/edit`)
            button(class='editBtn') Edit
        a(href=`http://localhost:8080/collections/${collection.id}`)
            button(class='delBtn' id=collection.id).collectionId Delete
