extends layout.pug

block content
  each collection in collections
    a(href=`http://localhost:8080/collections/${collection.id}`)
      p=collection.name
      button(id=`collectionId=${collection.id}`).collectionId Delete

      //- "collectionId=1"
      //- "collectionId=2"

        button(id=post.id).delete-btn Delete

        id=`collectionId=${collection.id}`
