extends layout.pug

block content
  div(class="movie-list")
    each movieObject in movieObjects
      div(class="movie" id=movieObject.id)
        a(href=`/movies/${movieObject.id}`)
          img(src=movieObject.imageURL, alt=movieObject.name, height="430px", width="300px" id="movie-poster" )
        a(href=`/movies/${movieObject.id}`)
          p=movieObject.name
