extends layout.pug

block content
  div(class="movie-contents-container")
    div(class="movie-name-year")
      movie.name
      p(id="year")=releaseYear
      img(id="poster", src=imageURL, alt=title, height="630px", width="450px")
    div(class="movie-description")
      span(class='description')=description
      p(class="director") Director: #{director}
    div(class="add-to-collection")
      form(action='/collections/add-movie' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type="hidden" name='movieId' value=pk)
        button Add To Collection
        select(name="collectionId")
          each collection in collections
            option(value=collection.id)=collection.name
