extends layout.pug
include utils.pug
append head


block content
  div(class="movie-contents-container")
    div(class="movie-name-year")
      movie.name
      p(id="year")=releaseYear
      img(id="poster", src=imageURL, alt=title, height="630px", width="450px")
    div(class="movie-description")
      span(class='description')=description
      p(class="director") Director: #{director}
    div(class="add-to-collection")
      form(action="/collections/add-movie" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        button(id="btn") Add To Collection
        select(name="addToCollections")
          each collection in collections
            option(value=`${collection.id}#${pk}`)=collection.name
    div(class='add-review')
      form(action="/reviews/add" method="post" class="registration-form")
        +validationErrorSummary(errors)
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="movieId" value=pk)
        input(type="hidden" name="userId" value=userId)
        textarea(id="reviews-text-area", labelText="Review", name="content", cols="20", rows="10") #{review.content}
        //- +field("Review", "content", review.content, type='textarea')
        input(labelText="Rating", name="rating", type="number", min= '1', max='5', value=review.rating)
        //- +field("Rating", "rating", review.rating, type='number', max='5')
        div(class="registerCancelContainer")
          button(type="submit" class="register" id="registerLog") Add Review
    div
      each eachReview in reviews
        div
          p=eachReview.content
          p=eachReview.rating

            //- pk is the id of the movie. on line 38, pk movie.id
            //- the select is the dropdown and the options are inside the select.
            //- whatever option you choose from the drop down will become the new select that why select has the collection name i.e. Romance


        //- input(type="text" name="Review", value=review.content)
        //- input(type="text" name="Rating", value=review.rating)

    //-  +field("Review", "content", review.content)
    //-     +field("Rating", "rating", review.rating)


    //- select(name="addToCollections")
    //-       option(value=1)="1"
    //-       option(value=2)="2"
    //-       option(value=3)="3"
    //-       option(value=4)="4"
    //-       option(value=5)="5"
