extends layout.pug

block content
  div(class="movie-list")
    each movie in movies
      div(class="movie" id=movie.id)
        a(href=`https://fmdb-group-project.herokuapp.com/movies/${movie.id}`)
          img(src=movie.imageURL, alt=movie.name, height="430px", width="300px" id="movie-poster" onclick="https://fmdb-group-project.herokuapp.com/movies/2")
        a(href=`https://fmdb-group-project.herokuapp.com/movies/${movie.id}`)
          p(class="movie-name")=movie.name
