extends layout.pug
append head


block content
  div(class="movie-contents-container")
    div(class="movie-name-year")
      movie.name
      p(id="year")=releaseYear
      img(id="poster", src=imageURL, alt=title, height="630px", width="450px")
    div(class="movie-description")
      span(class='description')=description
      p(class="director") Director: #{director}
    div(class="add-to-collection")
      form(action="/collections/add-movie" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        button(id="btn") Add To Collection
        select(name="addToCollections")
          each collection in collections
            option(value=`${collection.name}#${pk}`)=collection.name

            //- pk is the id of the movie. Only added the k
