extends layout.pug
append head


block content
  div(class="movie-contents-container")
    div(class="movie-name-year")
      movie.name
      p(id="year")=releaseYear
      img(id="poster", src=imageURL, alt=title, height="630px", width="450px")
    div(class="movie-description")
      span(class='description')=description
      p(class="director") Director: #{director}
    div(class="add-to-collection")
      form(action="/collections/add-movie" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        button(id="btn") Add To Collection
        select(name="addToCollections")
          each collection in collections
            option(value=`${collection.id}#${pk}`)=collection.name
    div(class='add-review')
      form(action="/reviews/add" method="post" class="registration-form")
        +validationErrorSummary(errors)
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="movieId" value=pk)
        input(type="hidden" name="userId" value=userId)
        +field("Content", "content", review.content, type='textarea')
        div(class="registerCancelContainer")
          button(type="submit" class="register" id="registerLog") Add Review
            //- pk is the id of the movie. on line 38, pk movie.id
            //- the select is the dropdown and the options are inside the select.
            //- whatever option you choose from the drop down will become the new select that why select has the collection name i.e. Romance
