extends layout.pug

block content
    script(src="/javascripts/index.js" type="module")
    each reviewAndMovie in reviewsAndMovies
        div(id=`indiv-review-${reviewAndMovie[0].id}` class=`registration-form indiv-review-${reviewAndMovie[0].id}`)
            a(href=`http://localhost:8080/movies/${reviewAndMovie[1].id}`).movie-in-review
                div Movie: #{reviewAndMovie[1].name}
            div Your Review: #{reviewAndMovie[0].content}
            div
                button(id=`review${reviewAndMovie[0].id}`).reviewBtn Delete

    //- div(class='reviews')
